@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.about-container {
    align-items: center;
    text-align: left;
    width: 45%;
    height: 80vh;
    float: left;
    display: flex;
    color: white;
}

.about-text {
    font-family: "Montserrat";
    font-size: 23px;
    margin-left: 220px;
    margin-bottom: 160px;
}

.about-title {
    letter-spacing: 6px;
    animation: fadeInUp 1s;
    margin-bottom: 10px;
}

.about-p {
  animation: fadeInUp 1s;
  margin-top: 10px;
}

.skill-list {
  list-style-type: none;
  margin-top: 0px;
  color: #B70606;
  animation: fadeInUp 1s;
}

/* Animações */
@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}



